@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "Persons";  
}
<h1>Persons</h1>
<table class="table w-100 mt">
    <thead>
        <tr>
            <th>Person Name</th>
            <th>Email</th>
            <th>DateOfBirth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Address</th>
            <th>Receive News Letter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.CountryName</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsLetter</td>
            </tr>
        }
    </tbody>
</table>