@using ServiceConstracts;
@using Entities;
@model IEnumerable<PersonResponse> 

@{
    ViewBag.Title = "Persons";
}
<h1>@ViewBag.Title</h1>
<div class="table w-100 mt">
    <table>
        <thead>
            <tr>
                <th>Person Name</th>
                <th>Email</th>
                <th>DateOfBirth</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Address</th>
                <th>Receive News Letter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth</td>
                    <td>@person.Age</td>
                    <td>
                        @person.Gender
                    </td>
                    <td>@person.country</td>
                    <td>@person.Address</td>
                    <td>@person.ReceiveNewsLetter</td>

                        
</tr>
}
</tbody>
</table>
</div>