@using ServiceConstracts;
@using Entities;
@model IEnumerable<PersonResponse> 

@{
    ViewBag.Title = "Persons";
}
<h1>@ViewBag.Title</h1>
<form action="~/persons/index" method="get">
<div class="box flex">
    <div class="flex-1">
        <select class="form-input" name="searchBy" >
            
                @foreach(var field in ViewBag.SearchFields)
                {
                    if(field.Key == ViewBag.currentSearchBy)
                    {
                        <option value="@field.Key" selected>@field.Value</option>
                    }
                    else
                    {
                        <option value="@field.Key">@field.Value</option>
                    }

                    
                }       
        </select>
    </div>
    <div class="flex-1">
        <input type="search" id="search" class="form-input" placeholder="Search" name="searchString" value=@ViewBag.currentSearchString />
    </div>
    <div class="flex-1">
        <button class="button button-blue-back">Search</button>
        <a href="~/persons/index" class="link-hover">Clear All</a>
    </div>
</div>
<div class="table w-100 mt">
    <table>
        <thead>
            <tr>
                    <th>PersonName</th>
                    <th>Email</th>
                    <th>DateOfBirth</th>
                    <th>Age</th>
                    <th>Gender </th>
                    <th>country</th>
                    <th>Address</th>
                    <th>ReceiveNewsLetter</th>
                   
            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth</td>
                    <td>@person.Age</td>
                    <td>
                        @person.Gender
                    </td>
                    <td>@person.country</td>
                    <td>@person.Address</td>
                    <td>@person.ReceiveNewsLetter</td>

                        
</tr>
}
</tbody>
</table>
</div>
</form>