@using Entities;
@model IEnumerable<PersonResponse>

@{
    Layout = null;
}
<link href="@("http://" + Context.Request.Host.ToString() + "/Stylesheet.css")" rel="stylesheet" />
@*http://localhost:port/StyleSheet.css*@

<h1>Persons</h1>

<div class="table w-100 mt">
    <table>
        <thead>
            <tr>
                <th>Person Name</th>
                <th>Email</th>
                <th>Date Of Birth</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Receive News Letters</th>
            </tr>                
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth</td>
                    <td>@person.Age</td>
                    <td>@person.Gender</td>
                    <td>@person.country</td>
                    <td>@person.Address</td>
                    <td>@person.ReceiveNewsLetter</td>
                </tr>
            }
        </tbody>
    </table>
</div>

